# Configuración de Base de Datos para Producción con Docker
# En Docker, el DB_HOST debe ser el nombre del contenedor de la base de datos ('db')
DB_HOST=db
DB_USER=campeonato_admin
DB_PASS=tu_contraseña_super_secreta_aqui
DB_NAME=bd_campeonato
